# Python byte-code / cache
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Thumbs.db:encryptable

# IDE & Editor Settings (Optional local files)
.idea/
*.sublime-workspace
*.sublime-project
